In [1]:
import pandas as pd

In [2]:
path = "CHOCOLATE.csv"

In [3]:
choc_df = pd.read_csv(path)

In [4]:
choc_df.head()

,company,Specific Bean Origin or Bar Name,REF,grading_year,Cocoa Percent,Company Location,flavor_rating,Bean Type,country_of_origin,Flavor Rating (1-10)
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome,7.5
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo,5.5
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo,6.0
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo,7.0
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru,7.0

In [5]:
choc_df[["company", "country_of_origin", "flavor_rating", "grading_year"]]

       company country_of_origin  flavor_rating  grading_year
0     A. Morin          Sao Tome           3.75          2016
1     A. Morin              Togo           2.75          2015
2     A. Morin              Togo           3.00          2015
3     A. Morin              Togo           3.50          2015
4     A. Morin              Peru           3.50          2015
...        ...               ...            ...           ...
1790    Zotter              Peru           3.75          2011
1791    Zotter             Congo           3.00          2011
1792    Zotter             India           3.50          2011
1793    Zotter             India           3.25          2011
1794    Zotter            Brazil           3.00          2010

[1795 rows x 4 columns]

In [6]:
df = choc_df[["company", "country_of_origin", "flavor_rating", "grading_year"]]

In [7]:
df

       company country_of_origin  flavor_rating  grading_year
0     A. Morin          Sao Tome           3.75          2016
1     A. Morin              Togo           2.75          2015
2     A. Morin              Togo           3.00          2015
3     A. Morin              Togo           3.50          2015
4     A. Morin              Peru           3.50          2015
...        ...               ...            ...           ...
1790    Zotter              Peru           3.75          2011
1791    Zotter             Congo           3.00          2011
1792    Zotter             India           3.50          2011
1793    Zotter             India           3.25          2011
1794    Zotter            Brazil           3.00          2010

[1795 rows x 4 columns]

In [8]:
df.to_csv("Choc.csv", index=False, header=True)