In [2]:
import pandas as pd

In [3]:
path = "COFFEE.csv"

In [4]:
coff_df = pd.read_csv(path)

In [5]:
coff_df.head()

,Unnamed: 0,Species,Owner,country_of_origin,Farm.Name,Lot.Number,Mill,ICO.Number,company,Altitude,...,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters,flavor_rating,grading_year
0,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,4.42,2015
1,2,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,4.34,2015
2,3,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0,4.25,2010
3,4,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0,4.29,2015
4,5,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0,4.25,2015

In [6]:
coff_df[["company", "country_of_origin", "flavor_rating", "grading_year"]]

,company,country_of_origin,flavor_rating,grading_year
0,metad agricultural developmet plc,Ethiopia,4.42,2015
1,metad agricultural developmet plc,Ethiopia,4.34,2015
2,NaN,Guatemala,4.25,2010
3,yidnekachew debessa coffee plantation,Ethiopia,4.29,2015
4,metad agricultural developmet plc,Ethiopia,4.25,2015
...,...,...,...,...
1306,terra mia,Mexico,3.42,2012
1307,haiti coffee,Haiti,3.29,2012
1308,exportadora atlantic s.a,Nicaragua,3.29,2017
1309,unicafe,Guatemala,3.34,2012
1310,cigrah s.a de c.v,Honduras,0.00,2017

In [7]:
df = coff_df[["company", "country_of_origin", "flavor_rating", "grading_year"]]

In [8]:
df

,company,country_of_origin,flavor_rating,grading_year
0,metad agricultural developmet plc,Ethiopia,4.42,2015
1,metad agricultural developmet plc,Ethiopia,4.34,2015
2,NaN,Guatemala,4.25,2010
3,yidnekachew debessa coffee plantation,Ethiopia,4.29,2015
4,metad agricultural developmet plc,Ethiopia,4.25,2015
...,...,...,...,...
1306,terra mia,Mexico,3.42,2012
1307,haiti coffee,Haiti,3.29,2012
1308,exportadora atlantic s.a,Nicaragua,3.29,2017
1309,unicafe,Guatemala,3.34,2012
1310,cigrah s.a de c.v,Honduras,0.00,2017

In [9]:
df.to_csv("Coff.csv", index=False, header=True)